html {
  background: #fff;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

* {
    padding: 0;
    margin: 0;
}

.abs {
    position: absolute;
}

.back {
    background-color: rgb(255, 209, 61)
}

.wall {
    background-color: rgb(123, 0, 0)
}

.ball {
    background-color: rgb(30, 23, 25);
}

.paddle {
    background-color: rgb(37, 74, 93);
}

body {
    overflow: hidden;
}

.block {
    background-color: black;
    border: 2px solid rgb(255, 209, 61);
    color: gray;
    font-size: 25%
}

.go-panel {
    background-color: rgb(255, 252, 24);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 400%;
    font-weight: bold;
    color: black;
    font-family: "Helvetica Condensed", Helvetica, Arial, sans-serif;
    border:
    1px solid #b59b26;
}

.panel {
    background-color: rgba(255,255,255,0.65);
    right: 25px;
    padding: 2px;
    width: 100px;
    font-weight: bold;
    color: black;
    top: 100px;
    height: 25px;
    z-index: 1000;
}